<div class="footer">
	<div class="container">
		<aside class="super">
			<div class="logo">
				Super Style
			</div>
		</aside>
		<aside class="contact_info">
			<h5>Contact Information</h5>
			<div>
				<p>Copenhagen</p>
				<p><a href="mailto:cosmin.mirel18@gmail.com">cosmin.mirel18@gmail.com</a></p>
			</div>
		</aside>
	        <div class="center-block">
	            <br />
	                <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
		            <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
		            <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
			</div>
	</div>
</div>

